<!doctype html>
<html class="no-js wbboxlt" lang="{{ request.locale.iso_code }}" {% if settings.wbboxed %} id="wbboxlayout" {% endif %}>
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}"> <!-- the URL of a page that Google chose as the most representative from a set of duplicate pages -->
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin> <!-- will provide a benefit to any future cross-origin HTTP request, navigation or subresource -->

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    <svg style="display:none">

    <symbol viewBox="0 0 24 24" id="arright">
      <path d="M10.811,18.707,9.4,17.293,14.689,12,9.4,6.707l1.415-1.414L16.1,10.586a2,2,0,0,1,0,2.828Z"/>
    </symbol>


    <symbol viewBox="0 0 24 24" id="arleft">
        <path d="M13.775,18.707,8.482,13.414a2,2,0,0,1,0-2.828l5.293-5.293,1.414,1.414L9.9,12l5.293,5.293Z"/>
    </symbol>



    <symbol id="wish" viewBox="0 0 27.387 25.187">
      <path  d="M14.694,25.848,12.853,24.2C6.316,18.39,2,14.555,2,9.848A6.849,6.849,0,0,1,8.981,3a7.663,7.663,0,0,1,5.712,2.6A7.662,7.662,0,0,1,20.406,3a6.849,6.849,0,0,1,6.981,6.848c0,4.707-4.316,8.542-10.853,14.369Z" transform="translate(-1 -2)" stroke-linecap="round" stroke-width="2"/>
    </symbol>

    
	  <symbol viewBox="0 0 24 24" id="arrow-down">
  		<path d="M18.71,8.21a1,1,0,0,0-1.42,0l-4.58,4.58a1,1,0,0,1-1.42,0L6.71,8.21a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.59,4.59a3,3,0,0,0,4.24,0l4.59-4.59A1,1,0,0,0,18.71,8.21Z"/>
  	</symbol>
      
    <symbol id="icon-close" viewBox="0 0 512.021 512.021">
        <path d="M301.258,256.01L502.645,54.645c12.501-12.501,12.501-32.769,0-45.269c-12.501-12.501-32.769-12.501-45.269,0l0,0   L256.01,210.762L54.645,9.376c-12.501-12.501-32.769-12.501-45.269,0s-12.501,32.769,0,45.269L210.762,256.01L9.376,457.376   c-12.501,12.501-12.501,32.769,0,45.269s32.769,12.501,45.269,0L256.01,301.258l201.365,201.387   c12.501,12.501,32.769,12.501,45.269,0c12.501-12.501,12.501-32.769,0-45.269L301.258,256.01z"/>
    </symbol>
      
    <symbol id="refresh" viewBox="0 0 513.806 513.806">
        <path d="M66.074,228.731C81.577,123.379,179.549,50.542,284.901,66.045c35.944,5.289,69.662,20.626,97.27,44.244l-24.853,24.853   c-8.33,8.332-8.328,21.84,0.005,30.17c3.999,3.998,9.423,6.245,15.078,6.246h97.835c11.782,0,21.333-9.551,21.333-21.333V52.39   c-0.003-11.782-9.556-21.331-21.338-21.329c-5.655,0.001-11.079,2.248-15.078,6.246L427.418,65.04   C321.658-29.235,159.497-19.925,65.222,85.835c-33.399,37.467-55.073,83.909-62.337,133.573   c-2.864,17.607,9.087,34.202,26.693,37.066c1.586,0.258,3.188,0.397,4.795,0.417C50.481,256.717,64.002,244.706,66.074,228.731z"/>
        <path d="M479.429,256.891c-16.108,0.174-29.629,12.185-31.701,28.16C432.225,390.403,334.253,463.24,228.901,447.738   c-35.944-5.289-69.662-20.626-97.27-44.244l24.853-24.853c8.33-8.332,8.328-21.84-0.005-30.17   c-3.999-3.998-9.423-6.245-15.078-6.246H43.568c-11.782,0-21.333,9.551-21.333,21.333v97.835   c0.003,11.782,9.556,21.331,21.338,21.329c5.655-0.001,11.079-2.248,15.078-6.246l27.733-27.733   c105.735,94.285,267.884,85.004,362.17-20.732c33.417-37.475,55.101-83.933,62.363-133.615   c2.876-17.605-9.064-34.208-26.668-37.084C482.655,257.051,481.044,256.91,479.429,256.891z"/>
    </symbol>


  </svg>

    {% style %}
    {%- assign base_font = settings.type_base_font -%}
      :root {
        --wbbase-font: {{ settings.type_base_font | remove: 'Google+' | replace: '+', ' ' }};
        --font-size-header: {{ settings.type_header_base_size }};
        --font-size-base: {{ settings.type_base_size }};
        
        --gradient-base-accent-1: {% if settings.gradient_accent_1 != blank %}{{ settings.gradient_accent_1 }}{% else %}{{ settings.colors_accent_1 }}{% endif %};
        --color-base-solid-button-labels: {{ settings.colors_solid_button_labels }};

        --gradient-base-accent-2: {% if settings.gradient_accent_2 != blank %}{{ settings.gradient_accent_2 }}{% else %}{{ settings.colors_accent_2 }}{% endif %};
        --color-wb-hovercolor-button-text: {{ settings.wb_hovercolor_button_text }};

        --color-wbmaincolors-text: {{ settings.wbmaincolors_text }};
        --color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
        --color-wbbordercolor: {{ settings.wbborder_color }};
        
        --color-background: {{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{ settings.colors_background_1.blue }};
        --gradient-background: {% if settings.gradient_background_1 != blank %}{{ settings.gradient_background_1 }}{% else %}{{ settings.colors_background_1 }}{% endif %};

        --payment-terms-background-color: {{ settings.colors_background_1 }};

        --color-wbprodct-background: {{ settings.wbprodct_background }};
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }
      svg{
        width: 14px;height: 14px;
      }
    {% endstyle %}

    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> {% endcomment %}
    {{ 'output.css' | asset_url | stylesheet_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha512-H9jrZiiopUdsLpg94A333EfumgUBpO9MdbxStdeITo+KEIMaNfHNvwyjjDJb+ERPaRS6DpyRlKbvPUasNItRyw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {{ 'wbquickview.css' | asset_url | stylesheet_tag }}
    {{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>


    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}

    {% if settings.type_base_font contains 'Google' %}
      <link href="https://fonts.googleapis.com/css?family={{ settings.type_base_font | remove: 'Google+' }}:400,500,600,700"  rel="stylesheet">
    {% endif %}
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  </head>

  <body class="gradient {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% section 'announcement-bar' %}
    {% section 'header' %}
    <div class="page-container drawer-page-content" id="PageContainer">
      <div class="cate-menu">
        <div class="container">
          <div class="row">
             <div class="col-lg-2 col-md-4 col-12 hleftw d-lg-inline-block d-none">
             </div>
             <div class="col-lg-10 col-md-12 col-12 rightw">
                {% section 'cms-menu' %}
             </div>
          </div>
        </div>
      </div>
      <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-2 leftw">
                {% section 'site-nav' %}
                {% section 'leftbanner' %}
                {% section 'service' %}
                {% comment %} {% section 'popular' %} {% endcomment %}
                {% section 'secondleftbanner' %}
                {% comment %} {% section 'testimonial' %} {% endcomment %}
                {% comment %} {% section 'bestproduct' %} {% endcomment %}
                {% comment %} {% section 'left-tag' %} {% endcomment %}
            </div>
            <div class="col-12 col-md-8 col-lg-10 right-col">
                {% render 'breadcrumbs' %}
                {{ content_for_layout }}
            </div>  
          </div>
        </div>
      </main>
      {% comment %} {% section 'featured-blog' %} {% endcomment %}
      {% comment %} {% section 'logo-bar' %} {% endcomment %}
      {% section 'popup-products' %}
      {% section 'footer' %}
    </div>
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    {% render 'wbquick-view' %}

    <script>
      window.shopUrl = '{{ shop.url }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      }
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="{{ 'slick.min.js' | asset_url }}"></script>
    <script src="{{ 'wbcustom.js' | asset_url }}"></script>
    {% comment %} <script src="{{ 'countdown.min.js' | asset_url }}" defer="defer"></script> {% endcomment %}
    <script src="{{ 'wbcartdropdown.js' | asset_url }}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    {% if template == 'index' %}
        <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    
    <script src="{{ 'wbquickview.js' | asset_url }}" async></script>

    {% comment %}Webibazaar RTL{% endcomment %}
    {% if settings.wbenblertl or request.locale.iso_code == 'ar' %}
        <link rel="stylesheet" href="{{ 'wbrtl.css' | asset_url }}" type="text/css">
    {% endif %}

    {% if settings.wb_enablewish %}
      {{ 'wishlist.js' | asset_url | script_tag }}  
      
      <script>
          $(".wbwishremove").on('click', function(){
              $(this).addClass("wbloadtowish wbwishadding");
              setTimeout(function () {
                  $(".wbwishremove").removeClass("wbloadtowish");
              },1000);
              setTimeout(function () {
                  $(".wbwishadding").removeClass("wbwishadding");
              },2000);
          });
      (function() {
          Wishlist.init();
      }());
      </script>
      {% endif %}

    {% comment %}Webibazaar Color Customizer{% endcomment %}
    {% if settings.displaycustomizer %}
    <div class="wballcor">
        <div class="wbopen-closeclr wbclrdisable"><a href="javascript:void(0)" title="{{ 'wbcustomlabel.wballtext.colors' | t }}"></a></div>
        <div class="wbcolor_box">
            <h3>Live Settings</h3>
            <h5>Theme Color</h5>
            <ul class="wbinnerclr">
                <li><a href="{{ 'wbcolor1.css' | asset_url }}" class="wbclr1" title="{{ 'wbcustomlabel.wballtext.colors' | t }}"></a></li>
                <li><a href="{{ 'wbcolor2.css' | asset_url }}" class="wbclr2" title="{{ 'wbcustomlabel.wballtext.colors' | t }}"></a></li>
                <li><a href="{{ 'wbcolor3.css' | asset_url }}" class="wbclr3" title="{{ 'wbcustomlabel.wballtext.colors' | t }}"></a></li>
                <li><a href="{{ 'wbcolor4.css' | asset_url }}" class="wbclr4" title="{{ 'wbcustomlabel.wballtext.colors' | t }}"></a></li>
                <li><a href="{{ 'wbcolor5.css' | asset_url }}" class="wbclr5" title="{{ 'wbcustomlabel.wballtext.colors' | t }}"></a></li>
                <li><a href="{{ 'wbcolor6.css' | asset_url }}" class="wbclr6" title="{{ 'wbcustomlabel.wballtext.colors' | t }}"></a></li>
            </ul>
            <div class="clearfix"></div>
            <hr>
            <h5>Box Layout</h5>
            <ul class="wbsitebox">
                <li class="wbboxdemo">box</li>
                <li class="wbwidedemo">Full</li>
            </ul>
            <hr>
            <h5>Mode</h5>
            <ul class="wbrtlmode">
                <li><a href="{{ 'wbrtl.css' | asset_url }}" class="wbrtlinner">RTL</a></li>
                <li><a href="#" class="wbltrinner">LTR</a></li>
            </ul>
        </div>
    </div>
    {% endif %}
    {% comment %}Webibazaar Color Customizer Over{% endcomment %}

  </body>
</html>
